.main-style {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
.top-hero-page {
    text-align: justify;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    color: #4d5ae5;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.accent-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.navigation {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;

}
.navigation-link {
    text-decoration: none;
    color: #2E2F42;
}
.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
    color:#404BBF;
    text-decoration: underline;

}
.contact {
    list-style-type: none;
    font-style: normal;
}
.contacts {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts:hover,
.contacts:focus,
.contacts:active {
    color: #404BBF;
}
.hero-page {
    background-color: #2E2F42;
}
.title-hero-page {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button {
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color:#404BBF;
}
.studio {
    list-style-type: none;
}
.second-header {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.list-background {
    background-color: #FFFFFF;
}
.third-header {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.description {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team-background {
    background-color:#F4F4FD;
}
.team-list {
    list-style-type: none;
}
.portfolio {
    list-style-type: none;
}
.banking-app {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.foot {
    background: #2E2F42;
}
.accent-logo-footer {
    color: #F4F4FD;
}
.footer-p {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


